.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  border: 5px;
  border-color: lightgreen;
  border-style: double;
}
body {
  font-family: 'Raleway', sans-serif;
}


.App-profilecontainer {
  flex-direction: column;
  background-color: #88B04B;
  padding: 5px 5px 5px 5px;
}

.profile {
	position: relative;
	padding: 12px;
}

.profile_name {
	text-align: center;
	width: 100%;
	margin-top: -20px;
}

.profile_name h2 {
	margin: 0;
	font-weight: 300;
	color: black;
}

.profile-bold {
	font-weight: 600;
}


.App-contentcontainer {
  flex-direction: column;
  padding: 15px 5px 5px 5px;
}

.content-bold {
	font-weight: 600;
}